.fixed-videoContainer {
  position: fixed;
  top: 100px;
}

.video-section {
  position: relative;
  margin-left: 100px;
  width: 75%;
  background-color: rgb(45, 43, 43);
}

.me {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
  z-index: 100;
}

.call-buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 20px;
  background-color: rgba(47, 60, 47, 0.555);
  z-index: 100;
  border-radius: 10px;
  margin-left: 45%;
  margin-bottom: 20px;
  padding: 10px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(48, 47, 47);
  padding: 10px;
  cursor: pointer;
}

.green-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: green;
  padding: 10px;
  cursor: pointer;
}

.reject {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  padding: 10px;
  cursor: pointer;
}

.white {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(225, 235, 233);
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .video-section {
    margin-left: 15px;
    width: 90%;
  }

  .me {
    position: absolute;
    width: 40%;
    height: 40%;
  }

  .call-buttons {
    margin-left: 10px;
  }
}
